<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>my-guitars</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let b of guitars">
        <ion-label>
          <h1>{{b.brand}}</h1>
          <p>{{b.model}}</p>
        </ion-label>
    </ion-item>
  </ion-list>
</ion-content>


<!--

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">my-guitars</ion-title>
    </ion-toolbar>
  </ion-header>
</ion-content>
